@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

.corona-virus {
  background: #eaaa00;
  height: 55px;
}

.corona-text {
  padding-top: 8px;
}

.corona-text a {
  color: #fff;
  padding-left: 35px;
  font-size: 14px;
}

.corona-text p {
  justify-content: start;
  margin-bottom: 0px;
  padding-left: 35px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.navbar {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  margin-left: 125px;
}

.food-search {
  width: 250px;
  height: 35px;
  border-radius: 15px;
  border: 1px solid #79c5c0;
  margin-left: 20px;
  padding-inline-start: 30px;
  color: #79c5c0;
}

.food-search::placeholder {
  color: #79c5c0;
}

.search-bar {
  position: relative;
}

.search-btn {
  position: absolute;
  left: 30px;
  top: 9px;
  background: none;
  border: none;
  color: #79c5c0;
  font-size: medium;
}

.search-btn:hover {
  cursor: pointer;
}

.nav-elements {
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  display: flex;
}

.bar {
  border-left: 0.5px solid#79c5c0;
  height: 75%;
}

.cart,
.location,
.user {
  color: #79c5c0;
}

.nav-elements li {
  list-style: none;
  color: #79c5c0;
  font-weight: bold;
}

.underline {
  margin-left: 125px;
  border-top: 0.1px solid rgb(222, 222, 222);
}

.logo {
  position: absolute;
  position: fixed;
  padding-left: 15px;
  top: 10%;
}

.sidenav {
  margin-top: 100px;
  position: fixed;
}

.menu {
  margin-top: 3px;
  width: 125px;
  height: 100px;
  transform: skewY(-10deg);
  background: #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.menu h3 {
  text-align: center;
}

.our-menu {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #79c5c0;
}

.menu-grid {
  margin: 30px 0px 20px 0px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 0fr);
}

#row1,
#row2,
#row3,
#row4 {
  display: flex;
  justify-content: center;
  width: 215px;
  height: 160px;
  margin-right: 3px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#row1 {
  background-image: linear-gradient(#722182, #8e297a);
}

#row2 {
  background-image: linear-gradient(#8e297a, #ab3171);
}

#row3 {
  background-image: linear-gradient(#ab3171, #c93a68);
}

#row4 {
  background-image: linear-gradient(#c93a68, #e6425f);
}

.menu-square:hover {
  cursor: pointer;
}

.menu-square:hover > img,
.menu-square:hover > p {
  transform: scale(1.1);
}

.menu-item {
  color: white;
  font-size: 25px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

.nutrition-info a {
  display: flex;
  margin: auto;
  text-decoration: none;
  color: #e6425f;
  font-weight: bold;
  width: 8%;
}

.nutrition-info a:hover {
  color: #79c5c0;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.paragraphs h2 {
  font-size: 25px;
  padding: 50px 0 50px 0;
  margin-top: 50px;
  width: 50%;
  margin: auto;
}

.paragraphs p {
  display: block;
  padding-bottom: 50px;
  width: 50%;
  margin: auto;
}

.cravings {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  justify-content: center;
  margin-bottom: 50px;
}

.crave-text {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
}

.crave-text p {
  display: inline-block;
  text-align: left;
}

.craving {
  display: flex;
  border: 2px solid;
  border-color: #79c5c0;
  width: 275px;
  margin-right: 20px;
}

.craving p {
  color: #79c5c0;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  padding-left: 20px;
}

.not-sure {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  justify-content: center;
}

.not-sure-text {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
}

.not-sure-text p {
  display: inline-block;
  text-align: left;
}

.not-sure-options {
  display: flex;
  flex-direction: column;
  width: 185px;
  margin-right: 30px;
}

.not-sure-options img {
  height: 155px;
  width: 185px;
  margin-bottom: 10px;
}

.not-sure-options h3,
p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.not-sure-options h3 {
  font-size: 20px;
  font-weight: bold;
}

.not-sure-options p {
  color: grey;
  font-size: 15px;
}

.not-sure-btn {
  border: 2px solid;
  border-color: #79c5c0;
  background: none;
  height: 40px;
  color: #79c5c0;
  font-size: 15px;
  font-weight: bold;
}

.not-sure-btn:hover {
  cursor: pointer;
  background: #79c5c0;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.pre-footer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pre-footer p {
  font-weight: bold;
}

.pre-footer img {
  height: 50px;
  width: 60px;
  margin-bottom: 10px;
}

.app-stores {
  display: flex;
  margin-top: 10px;
}

.app-stores a {
  text-decoration: none;
  margin-right: 5px;
  color: #df467a;
}

.fa-arrow-right {
  margin-right: 15px;
  font-size: small;
  padding-top: 3px;
  color: #df467a;
}

.stay-connected {
  display: flex;
  margin-top: 30px;
}

.stay-connected p {
  margin-top: 5px;
  padding-right: 20px;
}

.stay-connected img {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.footer-links ul,
.policy-links ul {
  list-style: none;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-links a,
.policy-links a {
  margin-right: 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.policy-links a {
  color: #79c5c0;
  font-size: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
}

.icon {
  width: 80px;
  height: 80px;
  transition: 0.2s ease-in-out;
  padding-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .sidenav,
  .logo {
    left: -300px;
  }

  .nutrition-info a {
    width: 15%;
  }
}

@media screen and (max-width: 900px) {
  .menu-grid {
    grid-template-columns: repeat(2, 0fr);
  }

  #row1,
  #row2,
  #row3,
  #row4 {
    width: 300px;
    height: 200px;
  }

  .nutrition-info a {
    width: 20%;
  }

  .cravings {
    grid-template-columns: repeat(1, 0fr);
  }

  .crave-text {
    grid-column-end: 2;
  }

  .craving {
    margin-top: 30px;
    width: 400px;
  }

  .craving p {
    padding-left: 100px;
  }

  .not-sure {
    grid-template-columns: repeat(2, 0fr);
  }

  .not-sure-text {
    grid-column-end: 3;
  }

  .not-sure-options {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    margin-left: 0px;
  }
  .nutrition-info a {
    width: 25%;
  }

  .footer-links a,
  .policy-links a {
    font-size: 12px;
  }

  .paragraphs h2,
  .paragraphs p {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .nutrition-info a {
    width: 30%;
  }

  .food-search {
    width: 125px;
  }

  #row1,
  #row2,
  #row3,
  #row4 {
    width: 220px;
    height: 200px;
  }

  .footer-links a,
  .policy-links a {
    margin: auto;
    margin-right: 5px;
  }
}
